WindowsClient/Connected Services/ServiceReference4/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ShowBuildings">
        <s:complexType />
      </s:element>
      <s:element name="ShowBuildingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowBuildingsResult" type="tns:ArrayOfBuilding" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBuilding">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Building" nillable="true" type="tns:Building" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Building">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ShowOffices">
        <s:complexType />
      </s:element>
      <s:element name="ShowOfficesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowOfficesResult" type="tns:ArrayOfOffice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOffice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Office" nillable="true" type="tns:Office" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Office">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OfficeNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BuildingAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VentilationSetting" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TemperatureSetting" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ShowBuildingsSoapIn">
    <wsdl:part name="parameters" element="tns:ShowBuildings" />
  </wsdl:message>
  <wsdl:message name="ShowBuildingsSoapOut">
    <wsdl:part name="parameters" element="tns:ShowBuildingsResponse" />
  </wsdl:message>
  <wsdl:message name="ShowOfficesSoapIn">
    <wsdl:part name="parameters" element="tns:ShowOffices" />
  </wsdl:message>
  <wsdl:message name="ShowOfficesSoapOut">
    <wsdl:part name="parameters" element="tns:ShowOfficesResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="ShowBuildings">
      <wsdl:input message="tns:ShowBuildingsSoapIn" />
      <wsdl:output message="tns:ShowBuildingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowOffices">
      <wsdl:input message="tns:ShowOfficesSoapIn" />
      <wsdl:output message="tns:ShowOfficesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowBuildings">
      <soap:operation soapAction="http://tempuri.org/ShowBuildings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowOffices">
      <soap:operation soapAction="http://tempuri.org/ShowOffices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowBuildings">
      <soap12:operation soapAction="http://tempuri.org/ShowBuildings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowOffices">
      <soap12:operation soapAction="http://tempuri.org/ShowOffices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost/TechnologicalUnemployment4/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost/TechnologicalUnemployment4/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>